# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\4n\ORM\D24HotelManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
